{% extends "layout.html" %}

{% set bodyId = "page-ideias" %}

{% block title %}
<title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
<header>
  <a href="/">
    <img src="/img/logo.png" alt="">
  </a>
  <nav>
    <li><a href="/">Inicio</a></li>
    <li onclick="onOff()"><a href="#" class="button">Nova Ideia</a></li>
  </nav>
</header>

<section id="title">
  <p>em exibição</p>
  <h1>Idéias</h1>
</section>

<main>
  <section id="ideas">

    {% include "all_ideas.html" %}

  </section>
</main>

<footer>
  Com ❤️ <a href="#" target="_blanck">Rocketseat</a>
</footer>
{% endblock %}