@charset "utf-8";

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

a{
    color: #ff5e84;
    font-weight: bolder;
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #ff5e84;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.2);
}

.button:hover{
    text-decoration: none;
    background-color: #0984e3;
}

body{
    margin: 0;
    background: #e5e5e5;
    color: #25282b;
    font-family: 'Montserrat', sans-serif;
}

body.hideScroll{
    overflow: hidden;
}

#container{
    width: 90%;
    max-width: 980px;
    height: auto;
    overflow: hidden;
    margin: 40px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#intro{
    width: 300px;
    height: auto;
    margin: 0 64px auto auto;
}

main{
    margin: 32px 0;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bolder;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #ff5e84;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
    text-decoration: underline;
}

footer{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #777777;
    text-align: center;
}

footer a{
    opacity: 0.7;
}

.idea{
    display: flex;

    margin-bottom: 32px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.5);
}

.idea img{
    width: 60px;
    height: 60px;
    margin: 0 32px auto auto;
}

.idea h3{
    margin: 0;
}

.idea p{
    margin: 8px 0;
    color: #777777;
}

.idea .description{
    margin: 16px 0;
}


/*Modal*/
#modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #ff5e84;
    transition: 0.5s;

    display: flex;
    justify-content: center;
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
    margin-top: 5%;
    color: #ffffff;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    width: 80%;
    max-width: 800px;
    margin: 0 auto 15% auto;
    padding-bottom: 10%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content form div:nth-child(3){
    grid-column: span 2;
}

.content form div:nth-child(4){
    grid-column: span 2;
}

.content form div:nth-child(5){
    grid-column: span 2;
}

form input,
form textarea{
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form button{
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    margin-top: 32px;
    grid-column: 2;
    justify-self: end;
    transition: 0.5s;
}

form button:hover{
    background-color: #0984e3;
    color: white;
    text-decoration: none;
}

form a{
    width: 150px;
    height: 40px;
    background-color: #ffffff44;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;
}

form a:hover{
    background-color: #ffffff;
    color: #ff5e84;
    text-decoration: none;
}

/* Ideia.html */
#page-ideias #container{
    display: block;
}
#page-ideias header{
    display: flex;
    justify-content: space-between;
}

#page-ideias nav{
    display: flex;
    align-items: center;
}

#page-ideias li{
    list-style: none;
    margin-right: 16px;
}

#page-ideias li a{
    color: #25282b;
}

#page-ideias li a.button{
    color: #ffffff;
}

#page-ideias li:last-child{
    margin: 0;
}

#page-ideias section#title{
    text-align: center;
}

#page-ideias section#title p{
    opacity: 0.7;
    margin: 0;
}

#page-ideias section#title h1{
    margin: 0;
    font-size: 28px;
}

#page-ideias section#ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#ideas .idea{
    margin: 0;
}

section#title,
section#ideas,
footer{
    margin-top: 64px;
}